flows_ubuntu.json
[
    {
        "id": "2641e2d8a125e03d",
        "type": "tab",
        "label": "SofarSolar",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c5301cf5736b9aec",
        "type": "tab",
        "label": "Termostat",
        "disabled": false,
        "info": "W tej zakładce będą przepływy dotyczące regulacji ogrzewania"
    },
    {
        "id": "f6c736a1387dd46d",
        "type": "tab",
        "label": "Krzywa grzewcza c.o.",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4a573f048a4dd2d3",
        "type": "tab",
        "label": "Krzywa grzewcza podłogówki",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b98894ba757de358",
        "type": "tab",
        "label": "Ograniczenie podłogowego",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b34b5b20e6a54d6f",
        "type": "tab",
        "label": "Piec",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fba4eb03b808932c",
        "type": "tab",
        "label": "PM10",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bcee1bd9591a9655",
        "type": "tab",
        "label": "MQTT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "76eb8e87a35baef2",
        "type": "tab",
        "label": "Gatekeeper",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c70ee3db937727a9",
        "type": "tab",
        "label": "Tuya",
        "disabled": false,
        "info": ""
    },
    {
        "id": "03f2afeb9c6195e8",
        "type": "tab",
        "label": "Local Air quality to RGB bulb",
        "disabled": false,
        "info": ""
    },
    {
        "id": "29e4e66030293303",
        "type": "tab",
        "label": "Cloud Air quality to RGB bulb",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8f5fb799372bad4a",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "86216f774422fed0"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 820,
                "y": 40,
                "wires": [
                    {
                        "id": "89156168df979bc1",
                        "port": 0
                    }
                ]
            },
            {
                "x": 820,
                "y": 80,
                "wires": [
                    {
                        "id": "89156168df979bc1",
                        "port": 1
                    }
                ]
            },
            {
                "x": 1080,
                "y": 160,
                "wires": [
                    {
                        "id": "42f798c9fd41ba20",
                        "port": 1
                    }
                ]
            }
        ]
    },
    {
        "id": "78e0f45783bb3ba6",
        "type": "webthingsio-gateway",
        "name": "Gateway",
        "host": "192.168.10.100",
        "port": "8080",
        "https": false,
        "accessToken": "eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IjIwMDcwODQ5LTBjZDItNGU0YS04NDAxLWRlZmFlOWM2ZGE0OSJ9.eyJjbGllbnRfaWQiOiJsb2NhbC10b2tlbiIsInJvbGUiOiJhY2Nlc3NfdG9rZW4iLCJzY29wZSI6Ii90aGluZ3M6cmVhZHdyaXRlIiwiaWF0IjoxNjcxNzAzMTcwLCJpc3MiOiJodHRwczovL20ud2VidGhpbmdzLmlvIn0.Sb9QHpk9G7P1_Kkwftl1IQEyzhddQhhmVj4iZehREDYf7ntSRJeleuiZ851-4AIx_NLtoq7J304c2iLLsutEtQ",
        "skipValidation": false
    },
    {
        "id": "4a220e7de4c66cea",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.10.100",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "510a1c0176e7e0fd",
        "type": "chronos-config",
        "name": "",
        "sunPositions": []
    },
    {
        "id": "86216f774422fed0",
        "type": "function",
        "z": "8f5fb799372bad4a",
        "name": "SetTuyaDetails",
        "func": "var creds = global.get(\"tuya\");\nmsg.accessKey = creds.access_token;\nmsg.secretKey=global.get(\"tuya_secret_key\");\nmsg.clientKey  = global.get(\"tuya_client_id\");\nvar device_id = msg.device_id;\nmsg.url = \"/v1.0/iot-03/devices/\"+device_id+\"/commands\";\nmsg.body = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 80,
        "wires": [
            [
                "6494bda33dd57d80"
            ]
        ]
    },
    {
        "id": "89156168df979bc1",
        "type": "function",
        "z": "8f5fb799372bad4a",
        "name": "",
        "func": "if (msg.payload.hasOwnProperty(\"result\")){\n    return [msg, null];\n}\nreturn [null, msg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 80,
        "wires": [
            [],
            [
                "f1432afbfbb47a15"
            ]
        ]
    },
    {
        "id": "f1432afbfbb47a15",
        "type": "tuya_auth",
        "z": "8f5fb799372bad4a",
        "name": "",
        "topic": "",
        "host": "https://openapi.tuyaeu.com",
        "x": 300,
        "y": 160,
        "wires": [
            [
                "e459d20e5c6f3998"
            ]
        ]
    },
    {
        "id": "e459d20e5c6f3998",
        "type": "function",
        "z": "8f5fb799372bad4a",
        "name": "Extract Token from Response",
        "func": "if (!msg.payload.hasOwnProperty(\"result\")){\n    node.warn(\"failed timed access token reqest\");\n    node.warn(msg);\n    return;\n}\n\nvar data = msg.payload;\n\nvar access = data.result.access_token;\nvar refresh = data.result.refresh_token;\nvar expire = data.result.expire_time;\nglobal.set(\"tuya_expire\",expire);\nvar creds ={\n \"access_token\" : access,\n \"refresh_token\" : refresh\n}\nglobal.set(\"tuya\", creds);\nmsg.accessKey = creds.access_token;\nmsg.payload = data.result;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 160,
        "wires": [
            [
                "e1f27df7c6e13d65"
            ]
        ]
    },
    {
        "id": "42f798c9fd41ba20",
        "type": "function",
        "z": "8f5fb799372bad4a",
        "name": "",
        "func": "if (msg.payload.hasOwnProperty(\"result\")){\n    return [msg, null];\n}\nreturn [null, msg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 160,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6494bda33dd57d80",
        "type": "tuya_post",
        "z": "8f5fb799372bad4a",
        "name": "",
        "topic": "",
        "body": "",
        "url": "",
        "host": "https://openapi.tuyaeu.com",
        "x": 420,
        "y": 80,
        "wires": [
            [
                "89156168df979bc1"
            ]
        ]
    },
    {
        "id": "e1f27df7c6e13d65",
        "type": "tuya_post",
        "z": "8f5fb799372bad4a",
        "name": "",
        "topic": "",
        "body": "",
        "url": "",
        "host": "https://openapi.tuyaeu.com",
        "x": 780,
        "y": 160,
        "wires": [
            [
                "42f798c9fd41ba20"
            ]
        ]
    },
    {
        "id": "5d87b9f621a97cd0",
        "type": "inject",
        "z": "2641e2d8a125e03d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "f154454562395609"
            ]
        ]
    },
    {
        "id": "f154454562395609",
        "type": "http request",
        "z": "2641e2d8a125e03d",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.10.206/status.html",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "basic",
        "x": 180,
        "y": 260,
        "wires": [
            [
                "9cfa0c5e18f1211e"
            ]
        ]
    },
    {
        "id": "7ad50d18eefe3d68",
        "type": "debug",
        "z": "2641e2d8a125e03d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 480,
        "wires": []
    },
    {
        "id": "9cfa0c5e18f1211e",
        "type": "function",
        "z": "2641e2d8a125e03d",
        "name": "",
        "func": "const regex = /(?<=var webdata_now_p = \\\")\\d*/gm;\nvar str = msg.payload\nvar m = regex.exec(str)\n\nvar newMsg = { payload: parseInt(m)};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 380,
        "wires": [
            [
                "7ad50d18eefe3d68",
                "9a49aae2168bca55"
            ]
        ]
    },
    {
        "id": "9a49aae2168bca55",
        "type": "webthingsio-set-property",
        "z": "2641e2d8a125e03d",
        "name": "Sofar",
        "gateway": "78e0f45783bb3ba6",
        "thing": "virtual-things-custom-7e06d90b-5f3c-483a-aa2d-5fd311b4796e",
        "property": "Power",
        "x": 820,
        "y": 300,
        "wires": []
    },
    {
        "id": "d3e0b7dabe3b70e3",
        "type": "catch",
        "z": "2641e2d8a125e03d",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 380,
        "y": 460,
        "wires": [
            [
                "7ad50d18eefe3d68"
            ]
        ]
    },
    {
        "id": "f4353defcdb2da35",
        "type": "webthingsio-get-property",
        "z": "c5301cf5736b9aec",
        "name": "aktualna z termometra",
        "gateway": "78e0f45783bb3ba6",
        "thing": "http---192.168.10.205-things-ccs811",
        "property": "room_temp",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "7d4115fb074c7f39",
                "e9ea0b2e9c26172e"
            ]
        ]
    },
    {
        "id": "2cccaa2e01270375",
        "type": "webthingsio-set-property",
        "z": "c5301cf5736b9aec",
        "name": "aktualna termostat",
        "gateway": "78e0f45783bb3ba6",
        "thing": "virtual-things-custom-80403f04-0468-40be-a141-84d7033ee350",
        "property": "temp",
        "inputMode": "injected",
        "x": 1050,
        "y": 120,
        "wires": []
    },
    {
        "id": "6037da97131f5a34",
        "type": "inject",
        "z": "c5301cf5736b9aec",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "4",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "f4353defcdb2da35",
                "b2cdb499f1ec7481"
            ]
        ]
    },
    {
        "id": "b2cdb499f1ec7481",
        "type": "webthingsio-get-property",
        "z": "c5301cf5736b9aec",
        "name": "zadana",
        "gateway": "78e0f45783bb3ba6",
        "thing": "virtual-things-custom-80403f04-0468-40be-a141-84d7033ee350",
        "property": "target",
        "x": 160,
        "y": 440,
        "wires": [
            [
                "4ea5dbc7d7e58c55"
            ]
        ]
    },
    {
        "id": "33702c8b8b34d5f4",
        "type": "function",
        "z": "c5301cf5736b9aec",
        "name": "compare",
        "func": "var zadana = msg.payload.zadana\nvar aktualna = msg.payload.aktualna\nvar val = false;\n\nif (parseFloat(aktualna) < parseFloat(zadana)){\n    val = true;\n}\n\nvar newMsg = {payload: val}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 380,
        "wires": [
            [
                "928731dd3e9432a4",
                "bf699c0fd415c196"
            ]
        ]
    },
    {
        "id": "7d4115fb074c7f39",
        "type": "function",
        "z": "c5301cf5736b9aec",
        "name": "wrap",
        "func": "msg = {payload:msg.payload,\n    topic:\"aktualna\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 320,
        "wires": [
            [
                "6fd116e090c75327",
                "8879ab847f93f8bc"
            ]
        ]
    },
    {
        "id": "4ea5dbc7d7e58c55",
        "type": "function",
        "z": "c5301cf5736b9aec",
        "name": "wrap",
        "func": "msg = {payload:msg.payload,\n    topic:\"zadana\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 440,
        "wires": [
            [
                "aa1518a4eeca355f",
                "8879ab847f93f8bc"
            ]
        ]
    },
    {
        "id": "aa1518a4eeca355f",
        "type": "debug",
        "z": "c5301cf5736b9aec",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 480,
        "wires": []
    },
    {
        "id": "6fd116e090c75327",
        "type": "debug",
        "z": "c5301cf5736b9aec",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 280,
        "wires": []
    },
    {
        "id": "8879ab847f93f8bc",
        "type": "join",
        "z": "c5301cf5736b9aec",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 550,
        "y": 380,
        "wires": [
            [
                "33702c8b8b34d5f4",
                "c98af1387c6d2d7d"
            ]
        ]
    },
    {
        "id": "928731dd3e9432a4",
        "type": "debug",
        "z": "c5301cf5736b9aec",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 340,
        "wires": []
    },
    {
        "id": "c98af1387c6d2d7d",
        "type": "debug",
        "z": "c5301cf5736b9aec",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 340,
        "wires": []
    },
    {
        "id": "11af17dd12afce45",
        "type": "debug",
        "z": "c5301cf5736b9aec",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 180,
        "wires": []
    },
    {
        "id": "908b25b4553431b9",
        "type": "debug",
        "z": "c5301cf5736b9aec",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 340,
        "wires": []
    },
    {
        "id": "bf699c0fd415c196",
        "type": "switch",
        "z": "c5301cf5736b9aec",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "true",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 990,
        "y": 380,
        "wires": [
            [
                "908b25b4553431b9",
                "40eba78f6091e98f",
                "c951f96482088511"
            ]
        ]
    },
    {
        "id": "40eba78f6091e98f",
        "type": "trigger",
        "z": "c5301cf5736b9aec",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "str",
        "op2type": "str",
        "duration": "3",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 830,
        "y": 740,
        "wires": [
            [
                "be4ba050b71acc55",
                "5dc0b8c3985d52b1"
            ]
        ]
    },
    {
        "id": "be4ba050b71acc55",
        "type": "debug",
        "z": "c5301cf5736b9aec",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 800,
        "wires": []
    },
    {
        "id": "05ccf6861e5e04c6",
        "type": "webthingsio-set-property",
        "z": "c5301cf5736b9aec",
        "name": "heating",
        "gateway": "78e0f45783bb3ba6",
        "thing": "virtual-things-custom-80403f04-0468-40be-a141-84d7033ee350",
        "property": "heat",
        "x": 1300,
        "y": 860,
        "wires": []
    },
    {
        "id": "5dc0b8c3985d52b1",
        "type": "change",
        "z": "c5301cf5736b9aec",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "heating",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 880,
        "wires": [
            [
                "05ccf6861e5e04c6",
                "dabb4c135037de52"
            ]
        ]
    },
    {
        "id": "dabb4c135037de52",
        "type": "debug",
        "z": "c5301cf5736b9aec",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 940,
        "wires": []
    },
    {
        "id": "c951f96482088511",
        "type": "link out",
        "z": "c5301cf5736b9aec",
        "name": "do pieca c.o.",
        "links": [
            "4a44b79ce2fd8a07",
            "232059b3ff86fdfd"
        ],
        "x": 1235,
        "y": 380,
        "wires": []
    },
    {
        "id": "e9ea0b2e9c26172e",
        "type": "switch",
        "z": "c5301cf5736b9aec",
        "name": "check if number",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "number",
                "vt": "number"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 480,
        "y": 120,
        "wires": [
            [
                "431a5e6844d54f70"
            ]
        ]
    },
    {
        "id": "431a5e6844d54f70",
        "type": "function",
        "z": "c5301cf5736b9aec",
        "name": "round to 2 decimal place",
        "func": "var number = msg.payload\nvar rounded = Math.round(number*100)/100\nvar newMsg = {payload: rounded}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 120,
        "wires": [
            [
                "2cccaa2e01270375",
                "11af17dd12afce45"
            ]
        ]
    },
    {
        "id": "87f1a4216f7be430",
        "type": "inject",
        "z": "c5301cf5736b9aec",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 1290,
        "y": 740,
        "wires": [
            [
                "05ccf6861e5e04c6"
            ]
        ]
    },
    {
        "id": "fd96803ac69522a4",
        "type": "inject",
        "z": "c5301cf5736b9aec",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "false",
        "payloadType": "str",
        "x": 1290,
        "y": 780,
        "wires": [
            [
                "05ccf6861e5e04c6"
            ]
        ]
    },
    {
        "id": "8e6a215b04bda242",
        "type": "link out",
        "z": "f6c736a1387dd46d",
        "name": "do pieca",
        "links": [
            "57f07b95c4b9df52",
            "7778e1603c3a3f64",
            "f3f2234913e335ab",
            "8cf6df96f2cc66fe",
            "4a44b79ce2fd8a07"
        ],
        "x": 1235,
        "y": 740,
        "wires": []
    },
    {
        "id": "2f66173856c481c6",
        "type": "debug",
        "z": "f6c736a1387dd46d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 840,
        "wires": []
    },
    {
        "id": "bf56cc425c6cd711",
        "type": "join",
        "z": "f6c736a1387dd46d",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 630,
        "y": 740,
        "wires": [
            [
                "5a16270c2dd84dec",
                "5d092b9f5f94ee9c"
            ]
        ]
    },
    {
        "id": "5d092b9f5f94ee9c",
        "type": "debug",
        "z": "f6c736a1387dd46d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 700,
        "wires": []
    },
    {
        "id": "2c5bdf717864fa70",
        "type": "debug",
        "z": "f6c736a1387dd46d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 700,
        "wires": []
    },
    {
        "id": "5a16270c2dd84dec",
        "type": "function",
        "z": "f6c736a1387dd46d",
        "name": "compare",
        "func": "var x = msg.payload.powrot\nvar y = msg.payload.krzywa\nvar val = false;\n\nif (parseFloat(x) < parseFloat(y)){\n    val = true;\n}\n\nvar newMsg = {payload: val}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 740,
        "wires": [
            [
                "2c5bdf717864fa70",
                "cfc027457b279dd9"
            ]
        ]
    },
    {
        "id": "58b4a0239273c857",
        "type": "function",
        "z": "f6c736a1387dd46d",
        "name": "wrap",
        "func": "msg = {payload:msg.payload,\n    topic:\"powrot\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 800,
        "wires": [
            [
                "2f66173856c481c6",
                "bf56cc425c6cd711"
            ]
        ]
    },
    {
        "id": "ab17b3a6b515efa0",
        "type": "function",
        "z": "f6c736a1387dd46d",
        "name": "wrap",
        "func": "msg = {payload:msg.payload,\n    topic:\"krzywa\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 680,
        "wires": [
            [
                "bc99dddf85f2ca88",
                "bf56cc425c6cd711"
            ]
        ]
    },
    {
        "id": "bc99dddf85f2ca88",
        "type": "debug",
        "z": "f6c736a1387dd46d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 720,
        "wires": []
    },
    {
        "id": "f8cfd6bd1cd1abc9",
        "type": "webthingsio-get-property",
        "z": "f6c736a1387dd46d",
        "name": "powrót C.O.",
        "gateway": "78e0f45783bb3ba6",
        "thing": "http---192.168.10.202-things-dallasBasement",
        "property": "floor_temp6",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "44cfa6493bde0629",
                "58b4a0239273c857"
            ]
        ]
    },
    {
        "id": "eb35ae618fb0a061",
        "type": "inject",
        "z": "f6c736a1387dd46d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "f8cfd6bd1cd1abc9",
                "bc55063b4bc04992"
            ]
        ]
    },
    {
        "id": "a5f5a08b5bae89d4",
        "type": "webthingsio-set-property",
        "z": "f6c736a1387dd46d",
        "name": "Zadana powrotu c.o.",
        "gateway": "78e0f45783bb3ba6",
        "thing": "virtual-things-custom-a068796d-0900-40ca-8733-493e39007c98",
        "property": "target",
        "inputMode": "injected",
        "x": 1200,
        "y": 80,
        "wires": []
    },
    {
        "id": "cfc027457b279dd9",
        "type": "switch",
        "z": "f6c736a1387dd46d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "true",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1070,
        "y": 740,
        "wires": [
            [
                "1f94f7c7209d8af7",
                "8e6a215b04bda242",
                "f07dfdf7bf2af80f"
            ]
        ]
    },
    {
        "id": "1f94f7c7209d8af7",
        "type": "trigger",
        "z": "f6c736a1387dd46d",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "str",
        "op2type": "str",
        "duration": "3",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 890,
        "y": 940,
        "wires": [
            [
                "cb131f65bec96921",
                "03f9da7787faad41"
            ]
        ]
    },
    {
        "id": "cb131f65bec96921",
        "type": "debug",
        "z": "f6c736a1387dd46d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 1000,
        "wires": []
    },
    {
        "id": "03f9da7787faad41",
        "type": "change",
        "z": "f6c736a1387dd46d",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "heating",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 1080,
        "wires": [
            [
                "41b39dc05b03b6cb",
                "e88f0e81c31b6ffb"
            ]
        ]
    },
    {
        "id": "41b39dc05b03b6cb",
        "type": "debug",
        "z": "f6c736a1387dd46d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 1120,
        "wires": []
    },
    {
        "id": "e88f0e81c31b6ffb",
        "type": "webthingsio-set-property",
        "z": "f6c736a1387dd46d",
        "name": "heating",
        "gateway": "78e0f45783bb3ba6",
        "thing": "virtual-things-custom-a068796d-0900-40ca-8733-493e39007c98",
        "property": "heating",
        "inputMode": "injected",
        "x": 1160,
        "y": 1020,
        "wires": []
    },
    {
        "id": "f07dfdf7bf2af80f",
        "type": "debug",
        "z": "f6c736a1387dd46d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 700,
        "wires": []
    },
    {
        "id": "8f6b28c43b13673c",
        "type": "webthingsio-set-property",
        "z": "f6c736a1387dd46d",
        "name": "Krzywa termostat powrót c.o.",
        "gateway": "78e0f45783bb3ba6",
        "thing": "virtual-things-custom-a068796d-0900-40ca-8733-493e39007c98",
        "property": "real",
        "inputMode": "injected",
        "x": 520,
        "y": 980,
        "wires": []
    },
    {
        "id": "c471698e3c4da9bb",
        "type": "function",
        "z": "f6c736a1387dd46d",
        "name": "round to 2 decimal place",
        "func": "var number = msg.payload\nvar rounded = Math.round(number*100)/100\nvar newMsg = {payload: rounded}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 80,
        "wires": [
            [
                "a5f5a08b5bae89d4",
                "95bb47af7538beb9"
            ]
        ]
    },
    {
        "id": "95bb47af7538beb9",
        "type": "debug",
        "z": "f6c736a1387dd46d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 20,
        "wires": []
    },
    {
        "id": "44cfa6493bde0629",
        "type": "function",
        "z": "f6c736a1387dd46d",
        "name": "round to 2 decimal place",
        "func": "var number = msg.payload\nvar rounded = Math.round(number*100)/100\nvar newMsg = {payload: rounded}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 980,
        "wires": [
            [
                "505b757bc94c71cf",
                "8f6b28c43b13673c"
            ]
        ]
    },
    {
        "id": "505b757bc94c71cf",
        "type": "debug",
        "z": "f6c736a1387dd46d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 170,
        "y": 920,
        "wires": []
    },
    {
        "id": "743064ef32f4fd9b",
        "type": "inject",
        "z": "f6c736a1387dd46d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 1150,
        "y": 900,
        "wires": [
            [
                "e88f0e81c31b6ffb"
            ]
        ]
    },
    {
        "id": "f18d43f7a481c444",
        "type": "spline-curve",
        "z": "f6c736a1387dd46d",
        "name": "",
        "output_key": "payload",
        "input_key": "payload",
        "points": [
            {
                "x": 0,
                "y": 0.2
            },
            {
                "x": 0.3,
                "y": 0.34
            },
            {
                "x": 0.5,
                "y": 0.424
            },
            {
                "x": 1,
                "y": 0.5
            }
        ],
        "x": 850,
        "y": 340,
        "wires": [
            [
                "3e19a5dc5b118470",
                "dba705e0195bd88d"
            ]
        ]
    },
    {
        "id": "a36fbc703d26ac24",
        "type": "function",
        "z": "f6c736a1387dd46d",
        "name": "map",
        "func": "var input = msg.payload\n\nvar newMsg = {payload: -(input/40)+0.5}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 340,
        "wires": [
            [
                "7847a1d19849b1fe",
                "f18d43f7a481c444"
            ]
        ]
    },
    {
        "id": "7847a1d19849b1fe",
        "type": "debug",
        "z": "f6c736a1387dd46d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 300,
        "wires": []
    },
    {
        "id": "3e19a5dc5b118470",
        "type": "debug",
        "z": "f6c736a1387dd46d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 400,
        "wires": []
    },
    {
        "id": "dba705e0195bd88d",
        "type": "function",
        "z": "f6c736a1387dd46d",
        "name": "map",
        "func": "var input = msg.payload\n\nvar newMsg = {payload: (input*40)+10}\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 340,
        "wires": [
            [
                "f211319f0f0d248a",
                "c471698e3c4da9bb",
                "ab17b3a6b515efa0"
            ]
        ]
    },
    {
        "id": "f211319f0f0d248a",
        "type": "debug",
        "z": "f6c736a1387dd46d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 300,
        "wires": []
    },
    {
        "id": "d7b53660af63f68f",
        "type": "switch",
        "z": "f6c736a1387dd46d",
        "name": "<=18 filter",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "18",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 460,
        "y": 340,
        "wires": [
            [
                "a36fbc703d26ac24"
            ]
        ]
    },
    {
        "id": "bc55063b4bc04992",
        "type": "webthingsio-get-property",
        "z": "f6c736a1387dd46d",
        "name": "zewnetrzna",
        "gateway": "78e0f45783bb3ba6",
        "thing": "weather-f4d390665081060b0dfc89ddeddf9441105acb1c",
        "property": "feelsLike",
        "x": 290,
        "y": 340,
        "wires": [
            [
                "d7b53660af63f68f",
                "31e24770e42531cf"
            ]
        ]
    },
    {
        "id": "31e24770e42531cf",
        "type": "debug",
        "z": "f6c736a1387dd46d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 400,
        "wires": []
    },
    {
        "id": "1f65b76281ae9d63",
        "type": "inject",
        "z": "f6c736a1387dd46d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "-10",
        "payloadType": "str",
        "x": 470,
        "y": 200,
        "wires": [
            [
                "a36fbc703d26ac24"
            ]
        ]
    },
    {
        "id": "200c3e298950014b",
        "type": "inject",
        "z": "f6c736a1387dd46d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "-20",
        "payloadType": "str",
        "x": 470,
        "y": 240,
        "wires": [
            [
                "a36fbc703d26ac24"
            ]
        ]
    },
    {
        "id": "d76928da30a80793",
        "type": "inject",
        "z": "f6c736a1387dd46d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "-25",
        "payloadType": "str",
        "x": 470,
        "y": 280,
        "wires": [
            [
                "a36fbc703d26ac24"
            ]
        ]
    },
    {
        "id": "eda22fc55265567f",
        "type": "inject",
        "z": "f6c736a1387dd46d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 1130,
        "y": 200,
        "wires": [
            [
                "dba705e0195bd88d"
            ]
        ]
    },
    {
        "id": "13921c97361a93cd",
        "type": "inject",
        "z": "f6c736a1387dd46d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 1130,
        "y": 280,
        "wires": [
            [
                "dba705e0195bd88d"
            ]
        ]
    },
    {
        "id": "2327adb188b53098",
        "type": "inject",
        "z": "f6c736a1387dd46d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.5",
        "payloadType": "str",
        "x": 1130,
        "y": 240,
        "wires": [
            [
                "dba705e0195bd88d"
            ]
        ]
    },
    {
        "id": "6af1703d7cef7da5",
        "type": "inject",
        "z": "f6c736a1387dd46d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 470,
        "y": 160,
        "wires": [
            [
                "a36fbc703d26ac24"
            ]
        ]
    },
    {
        "id": "b8381b9e5698728b",
        "type": "inject",
        "z": "f6c736a1387dd46d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "str",
        "x": 470,
        "y": 120,
        "wires": [
            [
                "a36fbc703d26ac24"
            ]
        ]
    },
    {
        "id": "598514d20e115af3",
        "type": "inject",
        "z": "f6c736a1387dd46d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "20",
        "payloadType": "str",
        "x": 470,
        "y": 80,
        "wires": [
            [
                "a36fbc703d26ac24"
            ]
        ]
    },
    {
        "id": "1f35ed3c795b3c73",
        "type": "inject",
        "z": "f6c736a1387dd46d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "25",
        "payloadType": "str",
        "x": 470,
        "y": 40,
        "wires": [
            [
                "a36fbc703d26ac24"
            ]
        ]
    },
    {
        "id": "9297d505f66d7546",
        "type": "inject",
        "z": "f6c736a1387dd46d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 1150,
        "y": 940,
        "wires": [
            [
                "e88f0e81c31b6ffb"
            ]
        ]
    },
    {
        "id": "69fbb85755a60498",
        "type": "function",
        "z": "f6c736a1387dd46d",
        "name": "adjust multiply",
        "func": "var input = msg.payload\n\nvar newMsg = {payload: input*0.8}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 340,
        "wires": [
            [
                "b14808b159e94e37"
            ]
        ]
    },
    {
        "id": "b14808b159e94e37",
        "type": "debug",
        "z": "f6c736a1387dd46d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 400,
        "wires": []
    },
    {
        "id": "8fe96a3a67b5e736",
        "type": "catch",
        "z": "f6c736a1387dd46d",
        "name": "",
        "scope": [
            "a5f5a08b5bae89d4"
        ],
        "uncaught": false,
        "x": 1010,
        "y": 120,
        "wires": [
            [
                "95bb47af7538beb9"
            ]
        ]
    },
    {
        "id": "2c14b5af20412507",
        "type": "link out",
        "z": "4a573f048a4dd2d3",
        "name": "sygnał wzbudzający od krzywej grzewczej podłogówki",
        "links": [
            "b424a40bb59a0e80"
        ],
        "x": 1255,
        "y": 700,
        "wires": []
    },
    {
        "id": "a422d15e17e6d39d",
        "type": "debug",
        "z": "4a573f048a4dd2d3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 800,
        "wires": []
    },
    {
        "id": "32fa8aca1ed22950",
        "type": "join",
        "z": "4a573f048a4dd2d3",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 650,
        "y": 700,
        "wires": [
            [
                "2253e04b6f61fbd1",
                "96fedaf3681a224b"
            ]
        ]
    },
    {
        "id": "96fedaf3681a224b",
        "type": "debug",
        "z": "4a573f048a4dd2d3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 660,
        "wires": []
    },
    {
        "id": "ad090c914c73318e",
        "type": "debug",
        "z": "4a573f048a4dd2d3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 660,
        "wires": []
    },
    {
        "id": "2253e04b6f61fbd1",
        "type": "function",
        "z": "4a573f048a4dd2d3",
        "name": "compare",
        "func": "var x = msg.payload.powrot\nvar y = msg.payload.krzywa\nvar val = false;\n\nif (parseFloat(x) < parseFloat(y)){\n    val = true;\n}\n\nvar newMsg = {payload: val}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 700,
        "wires": [
            [
                "ad090c914c73318e",
                "0c8b9be8e6ef0804"
            ]
        ]
    },
    {
        "id": "346ebf973b517605",
        "type": "function",
        "z": "4a573f048a4dd2d3",
        "name": "wrap",
        "func": "msg = {payload:msg.payload,\n    topic:\"powrot\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 760,
        "wires": [
            [
                "a422d15e17e6d39d",
                "32fa8aca1ed22950"
            ]
        ]
    },
    {
        "id": "ee63b8db33eae661",
        "type": "function",
        "z": "4a573f048a4dd2d3",
        "name": "wrap",
        "func": "msg = {payload:msg.payload,\n    topic:\"krzywa\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 640,
        "wires": [
            [
                "0b6d37475b9227d2",
                "32fa8aca1ed22950"
            ]
        ]
    },
    {
        "id": "0b6d37475b9227d2",
        "type": "debug",
        "z": "4a573f048a4dd2d3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 680,
        "wires": []
    },
    {
        "id": "ef30c12dcb7ca9a6",
        "type": "webthingsio-get-property",
        "z": "4a573f048a4dd2d3",
        "name": "Powrót podłogówki",
        "gateway": "78e0f45783bb3ba6",
        "thing": "http---192.168.10.202-things-dallasBasement",
        "property": "floor_temp4",
        "x": 130,
        "y": 600,
        "wires": [
            [
                "2dad1cd9aa746692",
                "346ebf973b517605"
            ]
        ]
    },
    {
        "id": "162fad0c350e8572",
        "type": "inject",
        "z": "4a573f048a4dd2d3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 90,
        "y": 80,
        "wires": [
            [
                "ef30c12dcb7ca9a6",
                "bf92692bed302d3f"
            ]
        ]
    },
    {
        "id": "af492d27bbedd386",
        "type": "webthingsio-set-property",
        "z": "4a573f048a4dd2d3",
        "name": "Zadana podłogi",
        "gateway": "78e0f45783bb3ba6",
        "thing": "virtual-things-custom-a2aed172-2b01-4567-9cf4-027346f71674",
        "property": "target",
        "inputMode": "injected",
        "x": 1800,
        "y": 100,
        "wires": []
    },
    {
        "id": "0c8b9be8e6ef0804",
        "type": "switch",
        "z": "4a573f048a4dd2d3",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "true",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1090,
        "y": 700,
        "wires": [
            [
                "5923d10c87d76715",
                "2c14b5af20412507",
                "5d6eccb2688bbfc1"
            ]
        ]
    },
    {
        "id": "5923d10c87d76715",
        "type": "trigger",
        "z": "4a573f048a4dd2d3",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "str",
        "op2type": "str",
        "duration": "3",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 930,
        "y": 1160,
        "wires": [
            [
                "0f90c0079be54df6",
                "60a0fa8776ad0e36"
            ]
        ]
    },
    {
        "id": "0f90c0079be54df6",
        "type": "debug",
        "z": "4a573f048a4dd2d3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 1220,
        "wires": []
    },
    {
        "id": "60a0fa8776ad0e36",
        "type": "change",
        "z": "4a573f048a4dd2d3",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "heating",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 1300,
        "wires": [
            [
                "ba122129d14ac7de",
                "3e892c6e31ec33b0"
            ]
        ]
    },
    {
        "id": "ba122129d14ac7de",
        "type": "debug",
        "z": "4a573f048a4dd2d3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 1340,
        "wires": []
    },
    {
        "id": "3e892c6e31ec33b0",
        "type": "webthingsio-set-property",
        "z": "4a573f048a4dd2d3",
        "name": "heating",
        "gateway": "78e0f45783bb3ba6",
        "thing": "virtual-things-custom-a2aed172-2b01-4567-9cf4-027346f71674",
        "property": "heating",
        "inputMode": "injected",
        "x": 1200,
        "y": 1240,
        "wires": []
    },
    {
        "id": "5d6eccb2688bbfc1",
        "type": "debug",
        "z": "4a573f048a4dd2d3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 660,
        "wires": []
    },
    {
        "id": "5d53a6aa53249860",
        "type": "webthingsio-set-property",
        "z": "4a573f048a4dd2d3",
        "name": "Krzywa termostat powrót podłogowe",
        "gateway": "78e0f45783bb3ba6",
        "thing": "virtual-things-custom-a2aed172-2b01-4567-9cf4-027346f71674",
        "property": "real",
        "inputMode": "injected",
        "x": 570,
        "y": 940,
        "wires": []
    },
    {
        "id": "4b9e76ba86d95305",
        "type": "function",
        "z": "4a573f048a4dd2d3",
        "name": "round to 2 decimal place",
        "func": "var number = msg.payload\nvar rounded = Math.round(number*100)/100\nvar newMsg = {payload: rounded}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 220,
        "wires": [
            [
                "52656ccb84754ed8",
                "af492d27bbedd386"
            ]
        ]
    },
    {
        "id": "52656ccb84754ed8",
        "type": "debug",
        "z": "4a573f048a4dd2d3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1590,
        "y": 100,
        "wires": []
    },
    {
        "id": "2dad1cd9aa746692",
        "type": "function",
        "z": "4a573f048a4dd2d3",
        "name": "round to 1 decimal place",
        "func": "var number = msg.payload\nvar rounded = Math.round(number*10)/10\nvar newMsg = {payload: rounded}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 940,
        "wires": [
            [
                "835c542f9bb8c484",
                "5d53a6aa53249860"
            ]
        ]
    },
    {
        "id": "835c542f9bb8c484",
        "type": "debug",
        "z": "4a573f048a4dd2d3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 190,
        "y": 880,
        "wires": []
    },
    {
        "id": "7794c795eff2f682",
        "type": "inject",
        "z": "4a573f048a4dd2d3",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 1170,
        "y": 1100,
        "wires": [
            [
                "3e892c6e31ec33b0"
            ]
        ]
    },
    {
        "id": "eba2fd09666196c3",
        "type": "spline-curve",
        "z": "4a573f048a4dd2d3",
        "name": "",
        "output_key": "payload",
        "input_key": "payload",
        "points": [
            {
                "x": 0,
                "y": 0.2
            },
            {
                "x": 0.15,
                "y": 0.26
            },
            {
                "x": 0.25,
                "y": 0.31
            },
            {
                "x": 0.3,
                "y": 0.37
            },
            {
                "x": 0.4,
                "y": 0.45
            },
            {
                "x": 0.5,
                "y": 0.53
            },
            {
                "x": 0.6,
                "y": 0.62
            },
            {
                "x": 0.7,
                "y": 0.65
            },
            {
                "x": 0.8,
                "y": 0.68
            },
            {
                "x": 1,
                "y": 0.7
            }
        ],
        "x": 830,
        "y": 360,
        "wires": [
            [
                "9f010844cf1d7282",
                "9707344c5d1e4a98"
            ]
        ]
    },
    {
        "id": "60d4c4b421668876",
        "type": "function",
        "z": "4a573f048a4dd2d3",
        "name": "map",
        "func": "var input = msg.payload\n\nvar newMsg = {payload: -(input/40)+0.5}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 360,
        "wires": [
            [
                "d65af0c09e9f05d3",
                "eba2fd09666196c3"
            ]
        ]
    },
    {
        "id": "d65af0c09e9f05d3",
        "type": "debug",
        "z": "4a573f048a4dd2d3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 320,
        "wires": []
    },
    {
        "id": "9f010844cf1d7282",
        "type": "debug",
        "z": "4a573f048a4dd2d3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 420,
        "wires": []
    },
    {
        "id": "61f6086019e7302a",
        "type": "function",
        "z": "4a573f048a4dd2d3",
        "name": "map",
        "func": "var input = msg.payload\n\nvar newMsg = {payload: (input*40)+10}\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 440,
        "wires": [
            [
                "0f8129b99956f61b",
                "4b9e76ba86d95305",
                "ee63b8db33eae661"
            ]
        ]
    },
    {
        "id": "0f8129b99956f61b",
        "type": "debug",
        "z": "4a573f048a4dd2d3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1750,
        "y": 380,
        "wires": []
    },
    {
        "id": "20d6e20ef0226fa2",
        "type": "switch",
        "z": "4a573f048a4dd2d3",
        "name": "<=18 filter",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "18",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 440,
        "y": 360,
        "wires": [
            [
                "60d4c4b421668876"
            ]
        ]
    },
    {
        "id": "bf92692bed302d3f",
        "type": "webthingsio-get-property",
        "z": "4a573f048a4dd2d3",
        "name": "zewnetrzna",
        "gateway": "78e0f45783bb3ba6",
        "thing": "weather-f4d390665081060b0dfc89ddeddf9441105acb1c",
        "property": "feelsLike",
        "x": 270,
        "y": 360,
        "wires": [
            [
                "20d6e20ef0226fa2",
                "2f630299f67850c1"
            ]
        ]
    },
    {
        "id": "2f630299f67850c1",
        "type": "debug",
        "z": "4a573f048a4dd2d3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 420,
        "wires": []
    },
    {
        "id": "82f64e0b6475d0d9",
        "type": "inject",
        "z": "4a573f048a4dd2d3",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "-10",
        "payloadType": "str",
        "x": 450,
        "y": 220,
        "wires": [
            [
                "60d4c4b421668876"
            ]
        ]
    },
    {
        "id": "3aed71bfda369fad",
        "type": "inject",
        "z": "4a573f048a4dd2d3",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "-20",
        "payloadType": "str",
        "x": 450,
        "y": 260,
        "wires": [
            [
                "60d4c4b421668876"
            ]
        ]
    },
    {
        "id": "30cf5a35d82f4301",
        "type": "inject",
        "z": "4a573f048a4dd2d3",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "-25",
        "payloadType": "str",
        "x": 450,
        "y": 300,
        "wires": [
            [
                "60d4c4b421668876"
            ]
        ]
    },
    {
        "id": "e871a394327db078",
        "type": "inject",
        "z": "4a573f048a4dd2d3",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 1430,
        "y": 260,
        "wires": [
            [
                "61f6086019e7302a"
            ]
        ]
    },
    {
        "id": "f96649845297d58d",
        "type": "inject",
        "z": "4a573f048a4dd2d3",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 1430,
        "y": 340,
        "wires": [
            [
                "61f6086019e7302a"
            ]
        ]
    },
    {
        "id": "d02b956920dca980",
        "type": "inject",
        "z": "4a573f048a4dd2d3",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.5",
        "payloadType": "str",
        "x": 1430,
        "y": 300,
        "wires": [
            [
                "61f6086019e7302a"
            ]
        ]
    },
    {
        "id": "4a995d7caa65dd06",
        "type": "inject",
        "z": "4a573f048a4dd2d3",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 450,
        "y": 180,
        "wires": [
            [
                "60d4c4b421668876"
            ]
        ]
    },
    {
        "id": "1570d45fdee7f2f9",
        "type": "inject",
        "z": "4a573f048a4dd2d3",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "str",
        "x": 450,
        "y": 140,
        "wires": [
            [
                "60d4c4b421668876"
            ]
        ]
    },
    {
        "id": "6e530b85eea5613c",
        "type": "inject",
        "z": "4a573f048a4dd2d3",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "20",
        "payloadType": "str",
        "x": 450,
        "y": 100,
        "wires": [
            [
                "60d4c4b421668876"
            ]
        ]
    },
    {
        "id": "a732f420980598c6",
        "type": "inject",
        "z": "4a573f048a4dd2d3",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "25",
        "payloadType": "str",
        "x": 450,
        "y": 60,
        "wires": [
            [
                "60d4c4b421668876"
            ]
        ]
    },
    {
        "id": "160c1046aa6a8623",
        "type": "inject",
        "z": "4a573f048a4dd2d3",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 1170,
        "y": 1140,
        "wires": [
            [
                "3e892c6e31ec33b0"
            ]
        ]
    },
    {
        "id": "e46114b4a0d45d59",
        "type": "chronos-switch",
        "z": "4a573f048a4dd2d3",
        "name": "",
        "config": "510a1c0176e7e0fd",
        "baseTime": "",
        "baseTimeType": "msgIngress",
        "conditions": [
            {
                "operator": "between",
                "label": "between 02:00 and 15:00",
                "operands": [
                    {
                        "type": "time",
                        "value": "02:00",
                        "offset": 0,
                        "random": false
                    },
                    {
                        "type": "time",
                        "value": "15:00",
                        "offset": 0,
                        "random": false
                    }
                ]
            },
            {
                "operator": "otherwise",
                "label": "otherwise"
            }
        ],
        "stopOnFirstMatch": false,
        "outputs": 2,
        "x": 1250,
        "y": 440,
        "wires": [
            [
                "ae5c4c255e683195"
            ],
            [
                "61f6086019e7302a"
            ]
        ]
    },
    {
        "id": "ae5c4c255e683195",
        "type": "function",
        "z": "4a573f048a4dd2d3",
        "name": "daytime multiply",
        "func": "var input = msg.payload\n\nvar newMsg = {payload: input*1.2}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 400,
        "wires": [
            [
                "61f6086019e7302a"
            ]
        ]
    },
    {
        "id": "9707344c5d1e4a98",
        "type": "function",
        "z": "4a573f048a4dd2d3",
        "name": "adjust multiply",
        "func": "var input = msg.payload\n\nvar newMsg = {payload: input*0.8}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 360,
        "wires": [
            [
                "e46114b4a0d45d59",
                "f304e5ccf1039231"
            ]
        ]
    },
    {
        "id": "f304e5ccf1039231",
        "type": "debug",
        "z": "4a573f048a4dd2d3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 280,
        "wires": []
    },
    {
        "id": "1390625234f57f4b",
        "type": "catch",
        "z": "4a573f048a4dd2d3",
        "name": "",
        "scope": [
            "af492d27bbedd386"
        ],
        "uncaught": false,
        "x": 1590,
        "y": 40,
        "wires": [
            [
                "52656ccb84754ed8"
            ]
        ]
    },
    {
        "id": "e85bc33b2c5e6bb5",
        "type": "inject",
        "z": "b98894ba757de358",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "6",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 170,
        "y": 480,
        "wires": [
            [
                "953addaa8e2adf1c",
                "8b7d04e782ae7850",
                "ac952e0f7fec7cf0",
                "ae2167dc7fb05393",
                "94becef25ff006c6"
            ]
        ]
    },
    {
        "id": "953addaa8e2adf1c",
        "type": "webthingsio-get-property",
        "z": "b98894ba757de358",
        "name": "Zasilanie podłogówki",
        "gateway": "78e0f45783bb3ba6",
        "thing": "http---192.168.10.202-things-dallasBasement",
        "property": "floor_temp3",
        "x": 160,
        "y": 560,
        "wires": [
            [
                "200e349368fccea0"
            ]
        ]
    },
    {
        "id": "853a189684091ae4",
        "type": "function",
        "z": "b98894ba757de358",
        "name": "compare",
        "func": "var val = false;\nvar max_water = 40;\nvar max_floor = 35;\nif(\n(parseFloat(msg.payload.zasilanie) < max_water) & \n(parseFloat(msg.payload.powrot) < max_water) &\n(parseFloat(msg.payload.podloga1) < max_floor) &\n(parseFloat(msg.payload.podloga2) < max_floor)\n)\n{\n    val = true;\n}\n\nvar newMsg = {payload: val, topic: \"ponizej_max\"}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 560,
        "wires": [
            [
                "99fb5703b625f430"
            ]
        ]
    },
    {
        "id": "d11d00c69017d691",
        "type": "switch",
        "z": "b98894ba757de358",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "true",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 990,
        "y": 1060,
        "wires": [
            [
                "66615a1e4896ec28",
                "7c48d44637dd56fd",
                "5fd16799c62483ed",
                "665dbc8ba8208a61"
            ]
        ]
    },
    {
        "id": "66615a1e4896ec28",
        "type": "debug",
        "z": "b98894ba757de358",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 1000,
        "wires": []
    },
    {
        "id": "7c48d44637dd56fd",
        "type": "trigger",
        "z": "b98894ba757de358",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "str",
        "op2type": "str",
        "duration": "3",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 990,
        "y": 1380,
        "wires": [
            [
                "35c7c9133c1347c1",
                "8b1d1556383bf241",
                "5fd16799c62483ed"
            ]
        ]
    },
    {
        "id": "35c7c9133c1347c1",
        "type": "debug",
        "z": "b98894ba757de358",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 1440,
        "wires": []
    },
    {
        "id": "8b1d1556383bf241",
        "type": "webthingsio-set-property",
        "z": "b98894ba757de358",
        "name": "Podłogowe",
        "gateway": "78e0f45783bb3ba6",
        "thing": "http---192.168.10.184-things-switch",
        "property": "on",
        "inputMode": "injected",
        "x": 1270,
        "y": 1240,
        "wires": []
    },
    {
        "id": "8b7d04e782ae7850",
        "type": "webthingsio-get-property",
        "z": "b98894ba757de358",
        "name": "Powrót podłogówki",
        "gateway": "78e0f45783bb3ba6",
        "thing": "http---192.168.10.202-things-dallasBasement",
        "property": "floor_temp4",
        "x": 150,
        "y": 660,
        "wires": [
            [
                "8a7a41af6c357654"
            ]
        ]
    },
    {
        "id": "c1a82e43c0e479cd",
        "type": "debug",
        "z": "b98894ba757de358",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 700,
        "wires": []
    },
    {
        "id": "cbe7fab817ec85c1",
        "type": "join",
        "z": "b98894ba757de358",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 710,
        "y": 560,
        "wires": [
            [
                "24526c8e0ffd2187",
                "853a189684091ae4"
            ]
        ]
    },
    {
        "id": "24526c8e0ffd2187",
        "type": "debug",
        "z": "b98894ba757de358",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 520,
        "wires": []
    },
    {
        "id": "8a7a41af6c357654",
        "type": "function",
        "z": "b98894ba757de358",
        "name": "wrap",
        "func": "msg = {payload:msg.payload,\n    topic:\"powrot\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 660,
        "wires": [
            [
                "c1a82e43c0e479cd",
                "cbe7fab817ec85c1"
            ]
        ]
    },
    {
        "id": "200e349368fccea0",
        "type": "function",
        "z": "b98894ba757de358",
        "name": "wrap",
        "func": "msg = {payload:msg.payload,\n    topic:\"zasilanie\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 560,
        "wires": [
            [
                "b1835b95559f8498",
                "cbe7fab817ec85c1"
            ]
        ]
    },
    {
        "id": "b1835b95559f8498",
        "type": "debug",
        "z": "b98894ba757de358",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 600,
        "wires": []
    },
    {
        "id": "ac952e0f7fec7cf0",
        "type": "webthingsio-get-property",
        "z": "b98894ba757de358",
        "name": "Podłoga 1",
        "gateway": "78e0f45783bb3ba6",
        "thing": "http---192.168.10.202-things-dallasFloor",
        "property": "floor_temp1",
        "x": 120,
        "y": 780,
        "wires": [
            [
                "296f593a06054bd7"
            ]
        ]
    },
    {
        "id": "ae2167dc7fb05393",
        "type": "webthingsio-get-property",
        "z": "b98894ba757de358",
        "name": "Podłoga 2",
        "gateway": "78e0f45783bb3ba6",
        "thing": "http---192.168.10.202-things-dallasFloor",
        "property": "floor_temp2",
        "x": 120,
        "y": 860,
        "wires": [
            [
                "1fe02906810c18e8"
            ]
        ]
    },
    {
        "id": "a0ad0b47a3b1f404",
        "type": "debug",
        "z": "b98894ba757de358",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 900,
        "wires": []
    },
    {
        "id": "1fe02906810c18e8",
        "type": "function",
        "z": "b98894ba757de358",
        "name": "wrap",
        "func": "msg = {payload:msg.payload,\n    topic:\"podloga2\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 860,
        "wires": [
            [
                "a0ad0b47a3b1f404",
                "cbe7fab817ec85c1",
                "2354f5e492c096a5"
            ]
        ]
    },
    {
        "id": "296f593a06054bd7",
        "type": "function",
        "z": "b98894ba757de358",
        "name": "wrap",
        "func": "msg = {payload:msg.payload,\n    topic:\"podloga1\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 780,
        "wires": [
            [
                "94dc972973a9026c",
                "cbe7fab817ec85c1",
                "2354f5e492c096a5"
            ]
        ]
    },
    {
        "id": "94dc972973a9026c",
        "type": "debug",
        "z": "b98894ba757de358",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 820,
        "wires": []
    },
    {
        "id": "99fb5703b625f430",
        "type": "join",
        "z": "b98894ba757de358",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 570,
        "y": 1060,
        "wires": [
            [
                "78e39a9319b58485",
                "736e0a2d44075ede"
            ]
        ]
    },
    {
        "id": "78e39a9319b58485",
        "type": "debug",
        "z": "b98894ba757de358",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 1020,
        "wires": []
    },
    {
        "id": "b424a40bb59a0e80",
        "type": "link in",
        "z": "b98894ba757de358",
        "name": "sygnał z podłogówki do sprawdzenia",
        "links": [
            "2c14b5af20412507"
        ],
        "x": 115,
        "y": 1060,
        "wires": [
            [
                "c2711a6a0b2957f1"
            ]
        ]
    },
    {
        "id": "c2711a6a0b2957f1",
        "type": "function",
        "z": "b98894ba757de358",
        "name": "wrap",
        "func": "msg = {payload:msg.payload,\n    topic:\"wlacz\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 1060,
        "wires": [
            [
                "882d9c1214d6129a",
                "99fb5703b625f430"
            ]
        ]
    },
    {
        "id": "882d9c1214d6129a",
        "type": "debug",
        "z": "b98894ba757de358",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 190,
        "y": 1120,
        "wires": []
    },
    {
        "id": "736e0a2d44075ede",
        "type": "function",
        "z": "b98894ba757de358",
        "name": "check",
        "func": "var val = false;\n\nif (msg.payload.wlacz & msg.payload.ponizej_max)\n    val = true;\n\nvar newMsg = {payload: val}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 1060,
        "wires": [
            [
                "d11d00c69017d691",
                "cb79ace3afb24899"
            ]
        ]
    },
    {
        "id": "5fd16799c62483ed",
        "type": "link out",
        "z": "b98894ba757de358",
        "name": "sygnał z podłogówki dla pieca",
        "links": [
            "4a44b79ce2fd8a07"
        ],
        "x": 1225,
        "y": 1460,
        "wires": []
    },
    {
        "id": "cb79ace3afb24899",
        "type": "debug",
        "z": "b98894ba757de358",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 980,
        "wires": []
    },
    {
        "id": "cbdba19843b80737",
        "type": "catch",
        "z": "b98894ba757de358",
        "name": "",
        "scope": [
            "8b1d1556383bf241",
            "8b7d04e782ae7850",
            "94becef25ff006c6",
            "953addaa8e2adf1c",
            "ac952e0f7fec7cf0",
            "ae2167dc7fb05393"
        ],
        "uncaught": false,
        "x": 130,
        "y": 1340,
        "wires": [
            [
                "8e258ecc994fcfc6"
            ]
        ]
    },
    {
        "id": "8e258ecc994fcfc6",
        "type": "change",
        "z": "b98894ba757de358",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "error",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1340,
        "wires": [
            [
                "8b1d1556383bf241",
                "f9de74ce876ed165"
            ]
        ]
    },
    {
        "id": "f9de74ce876ed165",
        "type": "debug",
        "z": "b98894ba757de358",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 1400,
        "wires": []
    },
    {
        "id": "94becef25ff006c6",
        "type": "webthingsio-get-property",
        "z": "b98894ba757de358",
        "name": "Powrót C.O.",
        "gateway": "78e0f45783bb3ba6",
        "thing": "http---192.168.10.202-things-dallasBasement",
        "property": "floor_temp6",
        "x": 130,
        "y": 1220,
        "wires": [
            [
                "db602fd7bcd8d072"
            ]
        ]
    },
    {
        "id": "2354f5e492c096a5",
        "type": "join",
        "z": "b98894ba757de358",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 510,
        "y": 1220,
        "wires": [
            [
                "1e0cf06f38fae937",
                "c5491d7a636044a5"
            ]
        ]
    },
    {
        "id": "1e0cf06f38fae937",
        "type": "function",
        "z": "b98894ba757de358",
        "name": "czy piec grzeje",
        "func": "var val = true;\nif(\n(parseFloat(msg.payload.podloga1) > \nparseFloat(msg.payload.powrotco)) ||\n(parseFloat(msg.payload.podloga2) > \nparseFloat(msg.payload.powrotco))\n)\n{\n    val = false;\n}\nvar newMsg = {payload: val}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1220,
        "wires": [
            [
                "fa4d406727f81295",
                "d895378edd4e260d"
            ]
        ]
    },
    {
        "id": "c5491d7a636044a5",
        "type": "debug",
        "z": "b98894ba757de358",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 1160,
        "wires": []
    },
    {
        "id": "fa4d406727f81295",
        "type": "debug",
        "z": "b98894ba757de358",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1160,
        "wires": []
    },
    {
        "id": "db602fd7bcd8d072",
        "type": "function",
        "z": "b98894ba757de358",
        "name": "wrap",
        "func": "msg = {payload:msg.payload,\n    topic:\"powrotco\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1220,
        "wires": [
            [
                "53c235edeaf98b74",
                "2354f5e492c096a5"
            ]
        ]
    },
    {
        "id": "53c235edeaf98b74",
        "type": "debug",
        "z": "b98894ba757de358",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 1260,
        "wires": []
    },
    {
        "id": "d895378edd4e260d",
        "type": "switch",
        "z": "b98894ba757de358",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "false",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 890,
        "y": 1220,
        "wires": [
            [
                "8b1d1556383bf241",
                "a172b547f6a036ff"
            ]
        ]
    },
    {
        "id": "a172b547f6a036ff",
        "type": "debug",
        "z": "b98894ba757de358",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 1160,
        "wires": []
    },
    {
        "id": "58e8155972293301",
        "type": "comment",
        "z": "b98894ba757de358",
        "name": "Uwaga!!",
        "info": "Zasilanie podłogówki musi być z powrotu CO.\nTemperatura powrotu CO jest sprawdzana!!\nMusi być wyższa niż temperatura podłogi.",
        "x": 700,
        "y": 1260,
        "wires": []
    },
    {
        "id": "665dbc8ba8208a61",
        "type": "delay",
        "z": "b98894ba757de358",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1200,
        "y": 1120,
        "wires": [
            [
                "8b1d1556383bf241"
            ]
        ]
    },
    {
        "id": "bb5d2e2fb333ec44",
        "type": "inject",
        "z": "b98894ba757de358",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "false",
        "payloadType": "str",
        "x": 130,
        "y": 1480,
        "wires": [
            [
                "8b1d1556383bf241"
            ]
        ]
    },
    {
        "id": "ca3b010d3fbf8040",
        "type": "trigger",
        "z": "b34b5b20e6a54d6f",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "str",
        "op2type": "str",
        "duration": "3",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1010,
        "y": 480,
        "wires": [
            [
                "0b3915b0a444f5f9",
                "c3cf7ff7a87392a8"
            ]
        ]
    },
    {
        "id": "0b3915b0a444f5f9",
        "type": "debug",
        "z": "b34b5b20e6a54d6f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 440,
        "wires": []
    },
    {
        "id": "c3cf7ff7a87392a8",
        "type": "webthingsio-set-property",
        "z": "b34b5b20e6a54d6f",
        "name": "piec gazowy",
        "gateway": "78e0f45783bb3ba6",
        "thing": "http---192.168.10.201-things-switch",
        "property": "on",
        "inputMode": "injected",
        "x": 1250,
        "y": 480,
        "wires": []
    },
    {
        "id": "4a44b79ce2fd8a07",
        "type": "link in",
        "z": "b34b5b20e6a54d6f",
        "name": "z termostatu",
        "links": [
            "5fd16799c62483ed",
            "8e6a215b04bda242",
            "c951f96482088511"
        ],
        "x": 135,
        "y": 140,
        "wires": [
            [
                "2211ea2f6d18ff04",
                "53e17e7f7cb347fc"
            ]
        ]
    },
    {
        "id": "2211ea2f6d18ff04",
        "type": "debug",
        "z": "b34b5b20e6a54d6f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 60,
        "wires": []
    },
    {
        "id": "45378c9a0f33e56a",
        "type": "webthingsio-get-property",
        "z": "b34b5b20e6a54d6f",
        "name": "Podłoga 1",
        "gateway": "78e0f45783bb3ba6",
        "thing": "http---192.168.10.202-things-dallasFloor",
        "property": "floor_temp1",
        "x": 220,
        "y": 460,
        "wires": [
            [
                "e4847999ac15b93e"
            ]
        ]
    },
    {
        "id": "17f1f930b5a635c8",
        "type": "webthingsio-get-property",
        "z": "b34b5b20e6a54d6f",
        "name": "Podłoga 2",
        "gateway": "78e0f45783bb3ba6",
        "thing": "http---192.168.10.202-things-dallasFloor",
        "property": "floor_temp2",
        "x": 220,
        "y": 540,
        "wires": [
            [
                "7531de5794b18619"
            ]
        ]
    },
    {
        "id": "a7a3d5c6cb120bb7",
        "type": "debug",
        "z": "b34b5b20e6a54d6f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 580,
        "wires": []
    },
    {
        "id": "7531de5794b18619",
        "type": "function",
        "z": "b34b5b20e6a54d6f",
        "name": "wrap",
        "func": "msg = {payload:msg.payload,\n    topic:\"podloga2\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 540,
        "wires": [
            [
                "a7a3d5c6cb120bb7",
                "291ff33ed60b5545"
            ]
        ]
    },
    {
        "id": "e4847999ac15b93e",
        "type": "function",
        "z": "b34b5b20e6a54d6f",
        "name": "wrap",
        "func": "msg = {payload:msg.payload,\n    topic:\"podloga1\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 460,
        "wires": [
            [
                "a5ad14e81b75b7d5",
                "291ff33ed60b5545"
            ]
        ]
    },
    {
        "id": "a5ad14e81b75b7d5",
        "type": "debug",
        "z": "b34b5b20e6a54d6f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 500,
        "wires": []
    },
    {
        "id": "841dd0ecfd0264fa",
        "type": "inject",
        "z": "b34b5b20e6a54d6f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "6",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 250,
        "y": 360,
        "wires": [
            [
                "45378c9a0f33e56a",
                "17f1f930b5a635c8",
                "c153502fb2bb685b"
            ]
        ]
    },
    {
        "id": "291ff33ed60b5545",
        "type": "join",
        "z": "b34b5b20e6a54d6f",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 690,
        "y": 260,
        "wires": [
            [
                "785ae51f61701a64",
                "d7826eb7066dc94f"
            ]
        ]
    },
    {
        "id": "785ae51f61701a64",
        "type": "debug",
        "z": "b34b5b20e6a54d6f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 220,
        "wires": []
    },
    {
        "id": "d7826eb7066dc94f",
        "type": "function",
        "z": "b34b5b20e6a54d6f",
        "name": "zabezpiecz podłogę",
        "func": "var val = false;\n\nvar max_max_floor = 35;\nvar max_temp_pokoj = 21.5;\n\nif(\n(msg.payload.grzej) & \n(parseFloat(msg.payload.podloga1) < max_max_floor) &\n(parseFloat(msg.payload.podloga2) < max_max_floor) &\n(parseFloat(msg.payload.temp_pokoj) < max_temp_pokoj)\n)\n{\n    val = true;\n}\n\nvar newMsg = {payload: val}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 260,
        "wires": [
            [
                "356a223ed7a05f35",
                "d4d5086e867abe13"
            ]
        ]
    },
    {
        "id": "53e17e7f7cb347fc",
        "type": "function",
        "z": "b34b5b20e6a54d6f",
        "name": "wrap",
        "func": "msg = {payload:msg.payload,\n    topic:\"grzej\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 140,
        "wires": [
            [
                "51820460fb02641e",
                "291ff33ed60b5545"
            ]
        ]
    },
    {
        "id": "51820460fb02641e",
        "type": "debug",
        "z": "b34b5b20e6a54d6f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 180,
        "wires": []
    },
    {
        "id": "356a223ed7a05f35",
        "type": "debug",
        "z": "b34b5b20e6a54d6f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 220,
        "wires": []
    },
    {
        "id": "d4d5086e867abe13",
        "type": "switch",
        "z": "b34b5b20e6a54d6f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "true",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1090,
        "y": 260,
        "wires": [
            [
                "5749cf7d9589162f",
                "ca3b010d3fbf8040",
                "c3cf7ff7a87392a8"
            ]
        ]
    },
    {
        "id": "5749cf7d9589162f",
        "type": "debug",
        "z": "b34b5b20e6a54d6f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 220,
        "wires": []
    },
    {
        "id": "f3d5abbe17e23b76",
        "type": "catch",
        "z": "b34b5b20e6a54d6f",
        "name": "",
        "scope": [
            "45378c9a0f33e56a",
            "17f1f930b5a635c8",
            "c3cf7ff7a87392a8"
        ],
        "uncaught": false,
        "x": 210,
        "y": 920,
        "wires": [
            [
                "8fffb3958688949d"
            ]
        ]
    },
    {
        "id": "8fffb3958688949d",
        "type": "change",
        "z": "b34b5b20e6a54d6f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "error",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 920,
        "wires": [
            [
                "c3cf7ff7a87392a8",
                "b7ed7eb0cfbcc74d"
            ]
        ]
    },
    {
        "id": "b7ed7eb0cfbcc74d",
        "type": "debug",
        "z": "b34b5b20e6a54d6f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 980,
        "wires": []
    },
    {
        "id": "f7725916b6141ffe",
        "type": "inject",
        "z": "b34b5b20e6a54d6f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "false",
        "payloadType": "str",
        "x": 960,
        "y": 700,
        "wires": [
            [
                "c3cf7ff7a87392a8"
            ]
        ]
    },
    {
        "id": "c153502fb2bb685b",
        "type": "webthingsio-get-property",
        "z": "b34b5b20e6a54d6f",
        "name": "Temperatura w pokoju",
        "gateway": "78e0f45783bb3ba6",
        "thing": "http---192.168.10.202-things-bmp280",
        "property": "room_temp",
        "x": 260,
        "y": 620,
        "wires": [
            [
                "46128b6f4054a82f"
            ]
        ]
    },
    {
        "id": "6fc31718ab9846e3",
        "type": "debug",
        "z": "b34b5b20e6a54d6f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 660,
        "wires": []
    },
    {
        "id": "46128b6f4054a82f",
        "type": "function",
        "z": "b34b5b20e6a54d6f",
        "name": "wrap",
        "func": "msg = {payload:msg.payload,\n    topic:\"temp_pokoj\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 620,
        "wires": [
            [
                "6fc31718ab9846e3",
                "291ff33ed60b5545"
            ]
        ]
    },
    {
        "id": "ead7e9e93af6d73c",
        "type": "inject",
        "z": "b34b5b20e6a54d6f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "true",
        "payloadType": "str",
        "x": 950,
        "y": 740,
        "wires": [
            [
                "c3cf7ff7a87392a8"
            ]
        ]
    },
    {
        "id": "18303ade58d3856b",
        "type": "inject",
        "z": "fba4eb03b808932c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "900",
        "crontab": "",
        "once": true,
        "onceDelay": "15",
        "topic": "",
        "payloadType": "date",
        "x": 190,
        "y": 280,
        "wires": [
            [
                "f1e45b5f31c7d524"
            ]
        ]
    },
    {
        "id": "410748a3dfee8cb1",
        "type": "webthingsio-set-property",
        "z": "fba4eb03b808932c",
        "name": "pm10 gęstość",
        "gateway": "78e0f45783bb3ba6",
        "thing": "virtual-things-custom-e98369aa-4f40-4ecd-b905-4a26a7e639ba",
        "property": "pm10density",
        "input": "payload.value",
        "x": 1300,
        "y": 280,
        "wires": []
    },
    {
        "id": "e7e1f4dfe16e0c3e",
        "type": "webthingsio-set-property",
        "z": "fba4eb03b808932c",
        "name": "pm10 procent",
        "gateway": "78e0f45783bb3ba6",
        "thing": "virtual-things-custom-e98369aa-4f40-4ecd-b905-4a26a7e639ba",
        "property": "pm10percentage",
        "input": "payload.pm10threshold_level",
        "x": 1300,
        "y": 520,
        "wires": []
    },
    {
        "id": "c5ab8e3d8b9177e9",
        "type": "function",
        "z": "fba4eb03b808932c",
        "name": "round to 2 decimal place",
        "func": "var number = msg.payload.pm10value\nvar rounded = Math.round(number*100)/100\nvar newMsg = {payload: rounded}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 280,
        "wires": [
            [
                "db2655a891c5d994",
                "410748a3dfee8cb1"
            ]
        ]
    },
    {
        "id": "db2655a891c5d994",
        "type": "debug",
        "z": "fba4eb03b808932c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 220,
        "wires": []
    },
    {
        "id": "f1e45b5f31c7d524",
        "type": "http request",
        "z": "fba4eb03b808932c",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.syngeos.pl/api/public/data/device/1126",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 450,
        "y": 280,
        "wires": [
            [
                "09a82c82813525d4"
            ]
        ]
    },
    {
        "id": "5af8ae7ca14018df",
        "type": "debug",
        "z": "fba4eb03b808932c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 200,
        "wires": []
    },
    {
        "id": "717807e852872786",
        "type": "function",
        "z": "fba4eb03b808932c",
        "name": "select values",
        "func": "pm10value = msg.payload.sensors[4].data[0].value;\npm10threshold_level = msg.payload.sensors[4].data[0].threshold_level;\n\n\nvar newMsg = { payload: {pm10value: pm10value , pm10threshold_level: pm10threshold_level}};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 280,
        "wires": [
            [
                "5af8ae7ca14018df",
                "e7e1f4dfe16e0c3e",
                "c5ab8e3d8b9177e9"
            ]
        ]
    },
    {
        "id": "09a82c82813525d4",
        "type": "json",
        "z": "fba4eb03b808932c",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 600,
        "y": 280,
        "wires": [
            [
                "717807e852872786",
                "1e4be765567f3367"
            ]
        ]
    },
    {
        "id": "1e4be765567f3367",
        "type": "debug",
        "z": "fba4eb03b808932c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 200,
        "wires": []
    },
    {
        "id": "d0d5971f8aedeaae",
        "type": "mqtt in",
        "z": "bcee1bd9591a9655",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "auto",
        "broker": "4a220e7de4c66cea",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 580,
        "wires": [
            [
                "a23348405d377208"
            ]
        ]
    },
    {
        "id": "a23348405d377208",
        "type": "debug",
        "z": "bcee1bd9591a9655",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 580,
        "wires": []
    },
    {
        "id": "5a3a7395e3c73a58",
        "type": "debug",
        "z": "bcee1bd9591a9655",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 340,
        "wires": []
    },
    {
        "id": "79143db6331d7082",
        "type": "mqtt out",
        "z": "bcee1bd9591a9655",
        "name": "",
        "topic": "roomtemp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4a220e7de4c66cea",
        "x": 1120,
        "y": 420,
        "wires": []
    },
    {
        "id": "5f10c9cfcc8684cb",
        "type": "inject",
        "z": "bcee1bd9591a9655",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "f1",
        "payloadType": "date",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "9c8d7c8f4bbd217f",
                "9b644188a817b0bb",
                "26f5abf20e25a6bb"
            ]
        ]
    },
    {
        "id": "d92fb2e09c67bd43",
        "type": "mqtt out",
        "z": "bcee1bd9591a9655",
        "name": "",
        "topic": "zadanapodlogowego",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4a220e7de4c66cea",
        "x": 1160,
        "y": 460,
        "wires": []
    },
    {
        "id": "14ad2837a3ce422b",
        "type": "mqtt out",
        "z": "bcee1bd9591a9655",
        "name": "",
        "topic": "rzeczywistapodlogowego",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4a220e7de4c66cea",
        "x": 1170,
        "y": 500,
        "wires": []
    },
    {
        "id": "9c8d7c8f4bbd217f",
        "type": "webthingsio-get-property",
        "z": "bcee1bd9591a9655",
        "name": "",
        "gateway": "78e0f45783bb3ba6",
        "thing": "virtual-things-custom-a2aed172-2b01-4567-9cf4-027346f71674",
        "property": "real",
        "x": 710,
        "y": 500,
        "wires": [
            [
                "14ad2837a3ce422b"
            ]
        ]
    },
    {
        "id": "9b644188a817b0bb",
        "type": "webthingsio-get-property",
        "z": "bcee1bd9591a9655",
        "name": "",
        "gateway": "78e0f45783bb3ba6",
        "thing": "virtual-things-custom-a2aed172-2b01-4567-9cf4-027346f71674",
        "property": "target",
        "x": 720,
        "y": 460,
        "wires": [
            [
                "d92fb2e09c67bd43"
            ]
        ]
    },
    {
        "id": "26f5abf20e25a6bb",
        "type": "webthingsio-get-property",
        "z": "bcee1bd9591a9655",
        "name": "",
        "gateway": "78e0f45783bb3ba6",
        "thing": "http---192.168.10.202-things-bmp280",
        "property": "room_temp",
        "x": 650,
        "y": 420,
        "wires": [
            [
                "79143db6331d7082",
                "5a3a7395e3c73a58"
            ]
        ]
    },
    {
        "id": "f7e3bf08ee11e7d3",
        "type": "inject",
        "z": "76eb8e87a35baef2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 240,
        "y": 140,
        "wires": [
            [
                "b3c72bf5f06641b3"
            ]
        ]
    },
    {
        "id": "b3c72bf5f06641b3",
        "type": "webthingsio-get-property",
        "z": "76eb8e87a35baef2",
        "name": "",
        "gateway": "78e0f45783bb3ba6",
        "thing": "http---192.168.10.97-things-switch",
        "property": "on",
        "x": 600,
        "y": 140,
        "wires": [
            [
                "fbed1daea22f921f",
                "4635f0ddfc0f88b4"
            ]
        ]
    },
    {
        "id": "fbed1daea22f921f",
        "type": "switch",
        "z": "76eb8e87a35baef2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "true",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 440,
        "y": 320,
        "wires": [
            [
                "11b8dfc5d40805ad",
                "053d42beb8282e83"
            ]
        ]
    },
    {
        "id": "11b8dfc5d40805ad",
        "type": "webthingsio-set-property",
        "z": "76eb8e87a35baef2",
        "name": "",
        "gateway": "78e0f45783bb3ba6",
        "thing": "http---192.168.10.97-things-switch",
        "property": "on",
        "input": false,
        "x": 830,
        "y": 320,
        "wires": []
    },
    {
        "id": "4635f0ddfc0f88b4",
        "type": "debug",
        "z": "76eb8e87a35baef2",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 140,
        "wires": []
    },
    {
        "id": "053d42beb8282e83",
        "type": "debug",
        "z": "76eb8e87a35baef2",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "5e423fa0271452ef",
        "type": "catch",
        "z": "76eb8e87a35baef2",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 420,
        "y": 420,
        "wires": [
            [
                "053d42beb8282e83"
            ]
        ]
    },
    {
        "id": "cf4720c520c82131",
        "type": "tuya-smart-device",
        "z": "c70ee3db937727a9",
        "deviceName": "Bulb",
        "disableAutoStart": false,
        "deviceId": "",
        "deviceKey": "",
        "storeAsCreds": true,
        "deviceIp": "",
        "retryTimeout": 1000,
        "findTimeout": 10000,
        "tuyaVersion": "3.1",
        "eventMode": "event-both",
        "x": 650,
        "y": 260,
        "wires": [
            [
                "66122ef7996ad49d"
            ],
            [
                "c7d2bcf21b06cece"
            ]
        ]
    },
    {
        "id": "66122ef7996ad49d",
        "type": "debug",
        "z": "c70ee3db937727a9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 220,
        "wires": []
    },
    {
        "id": "c7d2bcf21b06cece",
        "type": "debug",
        "z": "c70ee3db937727a9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 280,
        "wires": []
    },
    {
        "id": "8fc57b7ab4816953",
        "type": "function",
        "z": "c70ee3db937727a9",
        "name": "",
        "func": "msg.payload ={\n   //dps : 1,\n   dps: 20,\n    set : msg.payload\n}\n\n/*\n\n    */\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 240,
        "wires": [
            [
                "cf4720c520c82131"
            ]
        ]
    },
    {
        "id": "4c53116b6db1fde5",
        "type": "inject",
        "z": "c70ee3db937727a9",
        "name": "Turn On",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "8fc57b7ab4816953"
            ]
        ]
    },
    {
        "id": "7cc3b1cc600a8139",
        "type": "inject",
        "z": "c70ee3db937727a9",
        "name": "Turn Off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 200,
        "y": 280,
        "wires": [
            [
                "8fc57b7ab4816953"
            ]
        ]
    },
    {
        "id": "48bbd55ab0e9bafe",
        "type": "catch",
        "z": "c70ee3db937727a9",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 600,
        "y": 100,
        "wires": [
            [
                "e14e62fbf546e8e1"
            ]
        ]
    },
    {
        "id": "e14e62fbf546e8e1",
        "type": "debug",
        "z": "c70ee3db937727a9",
        "name": "On Error",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 100,
        "wires": []
    },
    {
        "id": "6b98df0ab14c43cf",
        "type": "inject",
        "z": "c70ee3db937727a9",
        "name": "",
        "props": [
            {
                "p": "payload.multiple",
                "v": "true",
                "vt": "bool"
            },
            {
                "p": "payload.data.20",
                "v": "true",
                "vt": "bool"
            },
            {
                "p": "payload.data.21",
                "v": "white",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 180,
        "y": 400,
        "wires": [
            [
                "cf4720c520c82131",
                "4b6cf0c469a2c2ee"
            ]
        ]
    },
    {
        "id": "4b6cf0c469a2c2ee",
        "type": "debug",
        "z": "c70ee3db937727a9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 420,
        "wires": []
    },
    {
        "id": "b0dfc0033202611e",
        "type": "http request",
        "z": "03f2afeb9c6195e8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.syngeos.pl/api/public/data/device/1126",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 270,
        "y": 300,
        "wires": [
            [
                "30dbac3192ddae4e"
            ]
        ]
    },
    {
        "id": "01f01ddc3b5faed9",
        "type": "inject",
        "z": "03f2afeb9c6195e8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "900",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "payloadType": "date",
        "x": 90,
        "y": 300,
        "wires": [
            [
                "b0dfc0033202611e"
            ]
        ]
    },
    {
        "id": "34dbd056f5325d8f",
        "type": "debug",
        "z": "03f2afeb9c6195e8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 220,
        "wires": []
    },
    {
        "id": "b32fe108ce8b9f31",
        "type": "function",
        "z": "03f2afeb9c6195e8",
        "name": "PM10 level to hsv color",
        "func": "pm10currentNorm = msg.payload.sensors[4].data[0].current_norm;\n\n// https://pypi.org/project/tinytuya/\n// Version 3.3 - Light Type (RGB)\n// DP ID \tFunction Point \tType \tRange \tUnits\n// 24 \tColor \thexstring \th:0-360,s:0-1000,v:0-1000 \thsv \n// color is dps 24 in format \"0[hhh]0[sss]0[vvv]\" where vvv is like brightness and is in range 0-1000\n\n\nswitch (pm10currentNorm){\n    case \"grade-a\": color = \"007803E803E8\"; break;\n    case \"grade-b\": color = \"004E03E803E8\"; break;\n    case \"grade-c\": color = \"002A03E803E8\"; break;\n    case \"grade-d\": color = \"001C03E803E8\"; break;\n    case \"grade-e\": color = \"000E03E803E8\"; break;\n    case \"grade-f\": color = \"000003E803E8\"; break;\n\n}\n\n\nvar newMsg = { payload: {multiple: true , data: {20 :true, 21: \"colour\", 24: color}}};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 300,
        "wires": [
            [
                "34dbd056f5325d8f",
                "2e7337a7d28de1b9"
            ]
        ]
    },
    {
        "id": "30dbac3192ddae4e",
        "type": "json",
        "z": "03f2afeb9c6195e8",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 420,
        "y": 300,
        "wires": [
            [
                "b32fe108ce8b9f31",
                "f4b99a9e6187d669",
                "53c469b8b7efd9c7"
            ]
        ]
    },
    {
        "id": "f4b99a9e6187d669",
        "type": "debug",
        "z": "03f2afeb9c6195e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 220,
        "wires": []
    },
    {
        "id": "2e7337a7d28de1b9",
        "type": "tuya-smart-device",
        "z": "03f2afeb9c6195e8",
        "deviceName": "Bulb",
        "disableAutoStart": false,
        "deviceId": "",
        "deviceKey": "",
        "storeAsCreds": true,
        "deviceIp": "",
        "retryTimeout": 1000,
        "findTimeout": 10000,
        "tuyaVersion": "3.1",
        "eventMode": "event-both",
        "x": 930,
        "y": 300,
        "wires": [
            [
                "eae9dfa5116c7649"
            ],
            [
                "8be32d97746148c5"
            ]
        ]
    },
    {
        "id": "eae9dfa5116c7649",
        "type": "debug",
        "z": "03f2afeb9c6195e8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 280,
        "wires": []
    },
    {
        "id": "8be32d97746148c5",
        "type": "debug",
        "z": "03f2afeb9c6195e8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 320,
        "wires": []
    },
    {
        "id": "7864680bbdcf033e",
        "type": "catch",
        "z": "03f2afeb9c6195e8",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 610,
        "y": 120,
        "wires": [
            [
                "e2437d79719fae4a"
            ]
        ]
    },
    {
        "id": "e2437d79719fae4a",
        "type": "debug",
        "z": "03f2afeb9c6195e8",
        "name": "On Error",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 120,
        "wires": []
    },
    {
        "id": "6d511a7c561abcd3",
        "type": "inject",
        "z": "03f2afeb9c6195e8",
        "name": "grade-a",
        "props": [
            {
                "p": "payload.sensors[4].data[0].current_norm",
                "v": "grade-a",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 450,
        "y": 380,
        "wires": [
            [
                "b32fe108ce8b9f31"
            ]
        ]
    },
    {
        "id": "b4efe63398aa1ac7",
        "type": "inject",
        "z": "03f2afeb9c6195e8",
        "name": "grade-b",
        "props": [
            {
                "p": "payload.sensors[4].data[0].current_norm",
                "v": "grade-b",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 450,
        "y": 420,
        "wires": [
            [
                "b32fe108ce8b9f31"
            ]
        ]
    },
    {
        "id": "7be1c2a7b9811153",
        "type": "inject",
        "z": "03f2afeb9c6195e8",
        "name": "grade-c",
        "props": [
            {
                "p": "payload.sensors[4].data[0].current_norm",
                "v": "grade-c",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 450,
        "y": 460,
        "wires": [
            [
                "b32fe108ce8b9f31"
            ]
        ]
    },
    {
        "id": "4755b793355f19b7",
        "type": "inject",
        "z": "03f2afeb9c6195e8",
        "name": "grade-d",
        "props": [
            {
                "p": "payload.sensors[4].data[0].current_norm",
                "v": "grade-d",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 450,
        "y": 500,
        "wires": [
            [
                "b32fe108ce8b9f31"
            ]
        ]
    },
    {
        "id": "2945bd2545eaafc6",
        "type": "inject",
        "z": "03f2afeb9c6195e8",
        "name": "grade-e",
        "props": [
            {
                "p": "payload.sensors[4].data[0].current_norm",
                "v": "grade-e",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 450,
        "y": 540,
        "wires": [
            [
                "b32fe108ce8b9f31"
            ]
        ]
    },
    {
        "id": "a70710824d119f65",
        "type": "inject",
        "z": "03f2afeb9c6195e8",
        "name": "grade-f",
        "props": [
            {
                "p": "payload.sensors[4].data[0].current_norm",
                "v": "grade-f",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 450,
        "y": 580,
        "wires": [
            [
                "b32fe108ce8b9f31"
            ]
        ]
    },
    {
        "id": "53c469b8b7efd9c7",
        "type": "link out",
        "z": "03f2afeb9c6195e8",
        "name": "to Cloud",
        "mode": "link",
        "links": [
            "f2f750020f8687ae"
        ],
        "x": 535,
        "y": 180,
        "wires": []
    },
    {
        "id": "f340b4d0f74971ab",
        "type": "inject",
        "z": "29e4e66030293303",
        "name": "on",
        "props": [
            {
                "p": "time",
                "v": "",
                "vt": "date"
            },
            {
                "p": "device_id",
                "v": "bf2dd271e7ac8ff9dck14a",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0.7",
        "topic": "",
        "payload": "{   \"commands\": [     {       \"code\": \"switch_led\",       \"value\": true     }   ] }",
        "payloadType": "str",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "7962754fedeca338"
            ]
        ]
    },
    {
        "id": "c1d5d7d955198e60",
        "type": "comment",
        "z": "29e4e66030293303",
        "name": "The token has a two hour life time, seems getting a new token before that time doesn't help. So get a token exactly every 2 hours",
        "info": "",
        "x": 510,
        "y": 160,
        "wires": []
    },
    {
        "id": "f3205b55dd5b27eb",
        "type": "tuya_auth",
        "z": "29e4e66030293303",
        "name": "",
        "topic": "",
        "host": "https://openapi.tuyaeu.com",
        "x": 540,
        "y": 200,
        "wires": [
            [
                "6881b78c6d6a07ba"
            ]
        ]
    },
    {
        "id": "6881b78c6d6a07ba",
        "type": "function",
        "z": "29e4e66030293303",
        "name": "Extract Token from Response",
        "func": "if (!msg.payload.hasOwnProperty(\"result\")){\n    node.warn(\"failed timed access token reqest\");\n    node.warn(msg);\n    return;\n}\n\nvar data = msg.payload;\n\nvar access = data.result.access_token;\nvar refresh = data.result.refresh_token;\nvar expire = data.result.expire_time;\nglobal.set(\"tuya_expire\",expire);\nvar creds ={\n \"access_token\" : access,\n \"refresh_token\" : refresh\n}\nglobal.set(\"tuya\", creds);\nmsg.payload = data.result;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 200,
        "wires": [
            [
                "f87e3ce7a8576f11"
            ]
        ]
    },
    {
        "id": "e9cedeacfb3790b4",
        "type": "inject",
        "z": "29e4e66030293303",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "time",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "tuya_expire",
        "payloadType": "global",
        "x": 350,
        "y": 280,
        "wires": [
            [
                "a0dcb9424cd5fcc6"
            ]
        ]
    },
    {
        "id": "a0dcb9424cd5fcc6",
        "type": "function",
        "z": "29e4e66030293303",
        "name": "",
        "func": "var expire = msg.payload-1;\nglobal.set(\"tuya_expire\",expire);\nif (expire < 0){\n    // better late than early\n    return [msg,null];\n}else{\n    msg.payload = expire;\n    return [null,msg];\n}\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 280,
        "wires": [
            [
                "a2aa417869134b14"
            ],
            []
        ]
    },
    {
        "id": "f87e3ce7a8576f11",
        "type": "debug",
        "z": "29e4e66030293303",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 200,
        "wires": []
    },
    {
        "id": "c546f5d9def499af",
        "type": "debug",
        "z": "29e4e66030293303",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 380,
        "wires": []
    },
    {
        "id": "ef085521ae1151fb",
        "type": "debug",
        "z": "29e4e66030293303",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"Tuya Token retry failed:: giving up\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 500,
        "wires": []
    },
    {
        "id": "f823dbeb9ef13e41",
        "type": "debug",
        "z": "29e4e66030293303",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 340,
        "wires": []
    },
    {
        "id": "580d34198bce3c92",
        "type": "function",
        "z": "29e4e66030293303",
        "name": "PM10 level to hsv color",
        "func": "pm10currentNorm = msg.payload.sensors[4].data[0].current_norm;\n\n// https://pypi.org/project/tinytuya/\n// Version 3.3 - Light Type (RGB)\n// DP ID \tFunction Point \tType \tRange \tUnits\n// 24 \tColor \thexstring \th:0-360,s:0-1000,v:0-1000 \thsv \n// color is dps 24 in format \"0[hhh]0[sss]0[vvv]\" where vvv is like brightness and is in range 0-1000\n\n\nswitch (pm10currentNorm){\n    case \"grade-a\": h = 120, s = 1000, v = 1000; break; //0078 03E8 03E8;\n    case \"grade-b\": h = 078, s = 1000, v = 1000; break; //004E 03E8 03E8\n    case \"grade-c\": h = 042, s = 1000, v = 1000; break; //002A 03E8 03E8\n    case \"grade-d\": h = 028, s = 1000, v = 1000; break; //001C 03E8 03E8\n    case \"grade-e\": h = 014, s = 1000, v = 1000; break; //000E 03E8 03E8\n    case \"grade-f\": h = 000, s = 1000, v = 1000; break; //0000 03E8 03E8\n\n}\n\nvar newMsg = {\n    time : msg.time,\n    device_id: msg.device_id,\n    payload:\n    // \"{   \\\"commands\\\": [     {       \\\"code\\\": \\\"switch_led\\\",       \\\"value\\\": false     }   ] }\"\n    \"{\\\"commands\\\":[\\\n    {\\\"code\\\":\\\"switch_led\\\",\\\"value\\\": true},\\\n    {\\\"code\\\":\\\"colour_data_v2\\\",\\\"value\\\":{\\\"h\\\":\"+h+\",\\\"s\\\":\"+s+\",\\\"v\\\":\"+v+\"}}]}\"\n};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 640,
        "wires": [
            [
                "7962754fedeca338"
            ]
        ]
    },
    {
        "id": "85706511341c146c",
        "type": "inject",
        "z": "29e4e66030293303",
        "name": "grade-a",
        "props": [
            {
                "p": "payload.sensors[4].data[0].current_norm",
                "v": "grade-a",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 640,
        "wires": [
            [
                "394ec55bd73baacc"
            ]
        ]
    },
    {
        "id": "209034f2f6a399e1",
        "type": "inject",
        "z": "29e4e66030293303",
        "name": "grade-b",
        "props": [
            {
                "p": "payload.sensors[4].data[0].current_norm",
                "v": "grade-b",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 680,
        "wires": [
            [
                "394ec55bd73baacc"
            ]
        ]
    },
    {
        "id": "179d2071acea0601",
        "type": "inject",
        "z": "29e4e66030293303",
        "name": "grade-c",
        "props": [
            {
                "p": "payload.sensors[4].data[0].current_norm",
                "v": "grade-c",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 720,
        "wires": [
            [
                "394ec55bd73baacc"
            ]
        ]
    },
    {
        "id": "e99612f166f9ddd6",
        "type": "inject",
        "z": "29e4e66030293303",
        "name": "grade-d",
        "props": [
            {
                "p": "payload.sensors[4].data[0].current_norm",
                "v": "grade-d",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 760,
        "wires": [
            [
                "394ec55bd73baacc"
            ]
        ]
    },
    {
        "id": "bfa78e2f1d785817",
        "type": "inject",
        "z": "29e4e66030293303",
        "name": "grade-e",
        "props": [
            {
                "p": "payload.sensors[4].data[0].current_norm",
                "v": "grade-e",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 800,
        "wires": [
            [
                "394ec55bd73baacc"
            ]
        ]
    },
    {
        "id": "9d397631ec369f17",
        "type": "inject",
        "z": "29e4e66030293303",
        "name": "grade-f",
        "props": [
            {
                "p": "payload.sensors[4].data[0].current_norm",
                "v": "grade-f",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 840,
        "wires": [
            [
                "394ec55bd73baacc"
            ]
        ]
    },
    {
        "id": "2123d40325b97f53",
        "type": "inject",
        "z": "29e4e66030293303",
        "name": "false",
        "props": [
            {
                "p": "time",
                "v": "",
                "vt": "date"
            },
            {
                "p": "device_id",
                "v": "bf2dd271e7ac8ff9dck14a",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0.7",
        "topic": "",
        "payload": "{   \"commands\": [     {       \"code\": \"switch_led\",       \"value\": false     }   ] }",
        "payloadType": "str",
        "x": 90,
        "y": 400,
        "wires": [
            [
                "7962754fedeca338"
            ]
        ]
    },
    {
        "id": "394ec55bd73baacc",
        "type": "function",
        "z": "29e4e66030293303",
        "name": "inject timestamp and device id",
        "func": "var newMsg = {\n    time : Date.now(),\n    device_id: \"bf2dd271e7ac8ff9dck14a\",\n    payload: msg.payload\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 640,
        "wires": [
            [
                "580d34198bce3c92"
            ]
        ]
    },
    {
        "id": "7962754fedeca338",
        "type": "subflow:8f5fb799372bad4a",
        "z": "29e4e66030293303",
        "name": "Tuya post",
        "x": 520,
        "y": 380,
        "wires": [
            [
                "f823dbeb9ef13e41"
            ],
            [
                "c546f5d9def499af"
            ],
            [
                "ef085521ae1151fb"
            ]
        ]
    },
    {
        "id": "f2f750020f8687ae",
        "type": "link in",
        "z": "29e4e66030293303",
        "name": "from Cloud",
        "links": [
            "53c469b8b7efd9c7"
        ],
        "x": 275,
        "y": 560,
        "wires": [
            [
                "394ec55bd73baacc",
                "45d3083b4ff1b15a"
            ]
        ]
    },
    {
        "id": "45d3083b4ff1b15a",
        "type": "function",
        "z": "29e4e66030293303",
        "name": "inject timestamp and device id",
        "func": "var newMsg = {\n    time : Date.now(),\n    device_id: \"bf5d30e91be75bac53yymu\",\n    payload: msg.payload\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 680,
        "wires": [
            [
                "580d34198bce3c92"
            ]
        ]
    },
    {
        "id": "8ad1f24471b61e71",
        "type": "inject",
        "z": "29e4e66030293303",
        "name": "",
        "props": [
            {
                "p": "time",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "0.02",
        "topic": "",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "a2aa417869134b14"
            ]
        ]
    },
    {
        "id": "a2aa417869134b14",
        "type": "function",
        "z": "29e4e66030293303",
        "name": "SetTuyaDetails",
        "func": "msg.secretKey=global.get(\"tuya_secret_key\");\nmsg.clientKey  = global.get(\"tuya_client_id\");\n//msg.host = \"https://openapi.tuyaeu.com\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 200,
        "wires": [
            [
                "f3205b55dd5b27eb"
            ]
        ]
    },
    {
        "id": "9cbabe380c4d9917",
        "type": "credentials",
        "z": "29e4e66030293303",
        "name": "",
        "props": [
            {
                "value": "tuya_secret_key",
                "type": "global"
            },
            {
                "value": "tuya_client_id",
                "type": "global"
            }
        ],
        "x": 330,
        "y": 80,
        "wires": [
            [
                "38d9b17139ea33b2"
            ]
        ]
    },
    {
        "id": "ab9e31c0e8f23ee0",
        "type": "inject",
        "z": "29e4e66030293303",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "9cbabe380c4d9917"
            ]
        ]
    },
    {
        "id": "38d9b17139ea33b2",
        "type": "debug",
        "z": "29e4e66030293303",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 80,
        "wires": []
    }
]